<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문조회</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .main{
            width:500px;
            margin: 0 auto;
        }

    </style>

</head>
<body>
    <div>
        <div class="main">
            <div>
                <h6>Home</h6>
                <h2>HELLO SHOP</h2>
                <br>
                <hr>
            </div>

            <table class="table">

                    <tr>
                        <form method="post" action="/order/state">
                            <input type="text" placeholder="주문자" name="user_name">
                            <select name="state">
                                <option value="">주문상태</option>
                                <option value="order">order</option>
                                <option value="cancle">cancle</option>
                            </select>
                            <input type="submit" value="검색">
                        </form>
                    </tr>
                <thead class="thead-dark">
                    <tr>
                        <th>주문번호</th>
                        <th>주문자</th>
                        <th>주문 상품</th>
                        <th>주문 수량</th>
                        <th>주문 상태</th>
                        <th>주문 날짜</th>
                        <th>주문 취소</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order:${Orders}">
                        <td th:text="${order.order_id}"></td>
                        <td th:text="${order.user_name}"></td>
                        <td th:text="${order.item_name}"></td>
                        <td th:text="${order.item_mount}"></td>
                        <td th:text="${order.order_state}"></td>
                        <td th:text="${order.order_date}"></td>
                        <td th:if="${order.order_state.equals('order')}">
                            <form action="/order/cancle" method="get">
                                <input type="hidden" th:value="${order.order_id}" name="order_id">
                                <input type="hidden" th:value="${order.item_name}" name="item_name">
                                <button type="submit">cancle</button>
                                <!--localhost:8080/order/cancle?item=핫도그&mount=49-->
                            </form>

                        </td>

                    </tr>
                </tbody>

            </table>
            <br>
            <hr>
            <h3>@Giseong</h3>
        </div>
    </div>

</body>
</html>