<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문하기</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .main{
            width:500px;
            margin: 0 auto;
        }
        form >div{
           text-align:center;
           }

        form > div > * {
            padding:15px;
        }


        .submit{
            display:block;
            margin-left: 221px;
            margin-top:15px;
        }
        form div>h6{
            margin-left: -150px;
            margin-bottom: 5px;
        }
        select{
           width: 213px;
        }

    </style>
</head>
<body>
    <div>
        <div class="main">
            <div>
                <h6>Home</h6>
                <h2>HELLO SHOP</h2>
                <br>
                <hr>
            </div>

            <form action="/order/new" method="post">
                <div>
                    <h6>주문회원</h6>
                    <input type="text" name="user_name" placeholder="주문회원">
                    <h6>주문 상품</h6>
                    <select name="item_name">
                        <option> 주문 목록 </option>
                        <option th:each="item:${Items}"
                                th:value="${item.item_name}"
                                th:text="${item.item_name}"
                                >
                        </option>
                    </select>
                    <h6>주문 수량</h6>
                    <input type="number" name="item_mount" placeholder="주문수량">


                </div>
                <button type="submit" class="submit btn btn-primary">보내기</button>
            </form>

            <br>
            <hr>
            <h3>@Giseong</h3>
        </div>
    </div>
</body>
</html>