<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원목록</title>
</head>
<body>
    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>이름</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="User:${Users}">
                        <td th:text="${User.id}"></td>
                        <td th:text="${User.user_name}"></td>
                        <td th:text="${User.city}"></td>
                        <td th:text="${User.tel}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>